#packages needed to install
pandas
jupyter==1.*
kaggle
git-lfs
streamlit
matplotlib
pytest
pytest-cov
plotly-express
streamlit-extras
duckdb
pandas-gbq 
google-cloud-bigquery 
openpyxl
folium
streamlit_folium